<app-navbar></app-navbar>
  <!-- End Navbar -->
  <div class="wrapper">
    
    <section
    class="contact-us-section-header relative pt-16 items-center h-screen max-h-860-px w-full h-full bg-top bg-cover">
   
    <div class="container mx-auto items-center flex"
    style="position:relative;">
    <div class="w-full  px-4">
         
            <div class="pt-32">
                <h2 class="font-semibold text-4xl justify-content-center" align="center" style="color: #035189;">
                    CONTACT US
                </h2>

              
           
            </div>
        
 </div>
</div>

    <div class="container mx-auto items-center flex flex-wrap d-none d-xl-block">
        <div class="container w-full md:w-4/12 md:ml-5 lg:w-4/12 lg:ml-7 xl:w-4/12 xl:ml-8 px-4">
          <div class="pt-32 sm:pt-0 section-text-image">
          
            <img loading="lazy" data-src="../../../assets/img/art-web-support 3.png"
            src="../../../assets/img/art-web-support 3.png" alt="An icon of a clock"
            class="img-fluid" style="position:absolute;bottom:0;top: 1;"
            title="clock icon" >
    
          </div>
        </div>
      </div>

  </section>

<section class=" relative block pb-5 mt-5 px-4" >
 
  <div class="contact-card">
    <div class="row">

      <div class="col-md-5 col-lg-5 col-xl-5 col-sm-12 col-xs-12 pt-4 px-lg-5" style="background-color: #0195FF;color: #ffffff; height: 50vh;">
          <p class="text-center text-xl font-bold">Let's get in touch</p>

          <p class="text-start text-sm_03">
            Got any question for us? <br>
You can reach out to us via any of these <br> platform
          </p>

            <ul>
              <li class="pb-3">      
                <i class=" fa-solid fa-map-marker " ></i> <span style="font-weight: bold;"> Address: </span> 79 Green Street London E7 8JF,  <br>
                926 Main Street, Suite 6 Billings, Montana <br>
                59105. <br>
        </li>
        <li class="pb-3">      
          <i class=" fa-solid fa-envelope " ></i> <span style="font-weight: bold;"> Email: </span> Info@samskytechnologyservices.com
  </li>

            </ul>

        


      </div>

      <div class="col-md-7 col-lg-7 col-xl-7 col-sm-12 col-xs-12 pt-4 px-lg-5">

        <p class="text-start text-black text-xl font-bold">
          Get in touch
        </p>

        <p class="text-black">
          For general and other inquires, send us a message 
        </p>

        <div class="container row">

          <div class="col-6">
            <label for="">FULL NAME</label>
            <input class="inp-form w-full" type="text"/>
          </div>
  
          <div class="col-6">
            <label for="">EMAIL ADDRESS</label>
            <input class="inp-form w-full" type="text"/>
          </div>

        </div>

        <br>
        
        <div class="container row">

          <div class="col-12">
            <label for="">SUBJECT</label>
            <input class="inp-form w-full" type="text"/>
          </div>

        </div>

        <br>
        <div class="container row">

          <div class="col-12">
            <label for="">MESSAGE</label>
            <input class="inp-form w-full" type="text"/>
          </div>

        </div>


        <div class="text-center pt-5">

          <a href="#" class="btn text-center text-white btn-primary ">Contact Us</a>
            
        </div>
  
     
      </div>

    </div>
  </div>

  </section>



<app-footer></app-footer>
  </div>