<app-navbar></app-navbar>
  <!-- End Navbar -->
  <div class="wrapper">
    
    <section
  class="website-maintenance-section-header relative pt-16 items-center h-screen max-h-650-px w-full h-full bg-top bg-cover">
  <div class="container mx-auto items-center flex ">
    <div class="w-full  px-4">
      <div class="pt-32 ">
    
    


      </div>
    </div>
  </div>

 
</section>

<section class=" relative block mt-4 mb-4 px-5" >
    <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20 pt-4">
    </div>
  
    <div class="" style="background-color: #ffffff;">
      <div class="flex  text-center justify-center" style="background-color: #ffffff;">
        <div class="w-full lg:w-6/12">
            <br>
          <h2 class="text-2xl text-black font-bold">
            Website Mentainance and support
          </h2>
        </div>
      </div>
      <div class="flex mt-2 justify-center">
        <div class="w-full text-left">
          <p class="text-blueGray-400 text-sm_03" style="color: #000000">
            We can assist you to protect your investment with ongoing website support and maintenance. For a website to be effective, it requires continual care
            to keep it functioning as intended. This would include regular security updates, implementation of upgrades provided by your chosen content
            management system, and fixes to unforeseen issues. You may also want to grow your website by adding new sections or tools.
        </p>
        <p class="text-blueGray-400 text-sm_03" style="color: #000000">
            We can support and maintain a wide variety of platforms online, including basic HTML sites to Open Source solutions, e-commerce solutions, and
            bespoke platforms. Some of our support & maintenance services include: </p>

            <p class="text-blueGray-400 text-sm_03" style="color: #000000">
                • Addition and amendment of web page text or images <br>
                • Addition of landing pages, amending pages, removing pages <br>
                • Adding, removing or amending site forms• Data entry to e-commerce sites <br>
                • Newsletter maintenance and distribution <br>
                • Search Engine Optimisation (SEO) and Search Engine Marketing (SEM) <br>
                • Bug fixes & Plugin installation <br>
        </div>

      </div>
    </div>
    <br>

    <div class="text-center pt-5">

        <a href="#" class="btn text-center text-white btn-primary ">Contact Us</a>
          
      </div>


  </section>


<app-footer></app-footer>
  </div>