<div class="pt-8 pb-6">

   
      <div class="justify-content-center ">
        <div class="f16xbild">
          <div class="f22jgso" align="center">
            <img src="https://media.remitly.io/trustpilot_brandmark_gr_blk_rgb_.1JwokY0XHw2PzcShEUCnpO.png"
                 alt="Trustpilot" class="f1xajo1s">
                 <img class="mt-4 mb-3" alt="4.5 stars" src="https://media.remitly.io/trustpilot_ratings_4halfstar_rgb.5hjuONS1dkZZjwiiisoSXP.png">
        
                </div>
      
          <div class="fonuyqy" align="center">
            <span>Based on <strong>33,072 reviews</strong> on</span>
            <!-- <img src="https://media.remitly.io/trustpilot_brandmark_gr_blk_rgb_.1JwokY0XHw2PzcShEUCnpO.png" alt="Trustpilot" class="f1gvbajs">
          -->
        </div>
     
        </div>
        <a class="fbd9x84" rel="noopener" target="_blank" href="https://www.trustpilot.com/review/remitly.com"></a>
      </div>
    
