<app-navbar></app-navbar>
  <!-- End Navbar -->
  <div class="wrapper">
    
    <section
  class="it-consultancy-section-header relative pt-16 items-center h-screen max-h-650-px w-full h-full bg-top bg-cover">
  <div class="container mx-auto items-center flex ">
    <div class="w-full  px-4">
      <div class="pt-32 ">
    
    


      </div>
    </div>
  </div>

 
</section>

<section class=" relative block mt-4 mb-4 px-5" >
    <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20 pt-4">
    </div>
  
    <div class="" style="background-color: #ffffff;">
      <div class="flex  text-center justify-center" style="background-color: #ffffff;">
        <div class="w-full lg:w-6/12">
            <br>
          <h2 class="text-2xl text-black font-bold">
            IT Consultancy
          </h2>
        </div>
      </div>
      <div class="flex mt-2 justify-center">
        <div class="w-full text-center">
          <p class="text-blueGray-400 text-xl" style="color: rgba(8, 8, 8, 0.7);">
            We provide consulting services to assist you to identify the technology barriers between you and a more profitable business, as well as recommend
the best  solutions. Our consultancy services are either as part of an end-to-end solution or as a one-off service. From requirement gathering to IT
infrastructure strategy, we provide our clients with unbiased and objective views of the best methods to align technology with their business plans. We
can help you achieve your business objectives using technology, in the development and review of your IT strategy, client-side representation and
product selection. By conducting thorough security evaluations, we can identify the security vulnerabilities and risks in your business operations. From
Strategy through to Implementation, we undertake in strategic and technical discussions providing threat-driven insight to facilitate the development
of robust security programs.
        </p>
        </div>

      </div>
    </div>
    <br>

    <div class="text-center pt-5">

        <a href="#" class="btn text-center text-white btn-primary ">Contact Us</a>
          
      </div>


  </section>


<app-footer></app-footer>
  </div>