<app-navbar></app-navbar>
  <!-- End Navbar -->
  <div class="wrapper">
    
    <section
  class="section-header bga relative pt-2 items-center h-screen max-h-900-px w-full h-full bg-top bg-cover">
 
  <div class=" mx-auto items-center flex flex-wrap">
    <div class="w-full md:w-6/12  px-2">
        <h2 class="text-white text-left" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: 35px;letter-spacing: 1px;">
          Samsky Technologies is  an IT 
solutions company, providing a 
broad range of business solutions 
for businesses.
        </h2>
    </div>
  </div>




</section>
    <div class="let_samsky">
        <p class="text-center" style="font-weight: bold;">Let Samsky Tecnologies handle all your IT issues, So you can focus on making your business flourish!</p>
  </div>
<section class=" relative block why-choose .md\:pt-4 pt-16 pb-5" >
    <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20 pt-4">
    </div>
  
    <div class="" style="background-color: #ffffff;">
      <div class="flex flex-wrap text-center justify-center" style="background-color: #ffffff;">
        <div class="w-full lg:w-6/12 px-4">
            <br>
          <h2 class="text-xl font-semibold text-black">
            A Deeper, One-To-One Experience With Samsky Pay Technologies
          </h2>
          <!--<p class="text-lg leading-relaxed mt-4 mb-4 text-blueGray-400">-->
          <!--Put the potentially record low maximum sea ice extent tihs year down to low ice. According to the National Oceanic and Atmospheric Administration, Ted, Scambos.-->
          <!--</p>-->
        </div>
      </div>
      <div class="d-flex flex-wrap mt-12  text-center px-4">
        <div class="w-full lg:w-7/12 px-4 text-left" style="margin-left: 0%;">
        
          <p class="samsky" style="font-size: 20px;">
          Samsky Technology is a full-service digital agency & IT Solutions company, providing a broad range of business solutions for businesses, we provide innovative IT solutions to clients from various industries including banking, manufacturing, telecommunication, NGO, finance, oil and gas, insurance and Educational Sectors. Our goal is to build lasting relationships and function as part of your team to achieve overall company success. Simply put, we are the technology partner that you need to accomplish your business goals. If you’re looking for a professional and reliable technology partner, you’ve come to the right place. When you partner with Samsky Technologies, you partner with expert technicians who are creative, innovative, friendly, knowledgeable, and work with integrity to ensure all of your technology needs are met and exceeded, time and again.
        </p>

        </div>

        <div class="w-full lg:w-5/12 px-4 text-right">
          <div class="inline-flex items-center justify-center">
            <img loading="lazy" data-src="../../../assets/img/Rectangle 97.png"
                 src="../../../assets/img/Rectangle 97.png"
                 alt="icon illustrating a debit or credit card with a padlock to represent security"
                 class="img-fluid"
                 title="safe icon" >
          </div>
       
        </div>

      </div>
    </div>
    <br>
  </section>
 
  <section 
  class="we-serve-header bga relative pt-2 items-center h-screen max-h-650-px w-full h-full bg-top bg-cover">
     
  <h4 class="text-white text-center pt-5">We Serve All Industries</h4>
  <p class="text-white text-center">Tailored to Suit your needs</p>
 

  <div class="d-flex flex-wrap mt-12  text-center px-5">


    <div class="faded-bg w-full lg:w-3/12 px-2 text-center mx-3 faded_class" style="">
      <div class="inline-flex items-center justify-center vp_top">
        <img loading="lazy" data-src="../../../assets/img/Ellipse.png"
             src="../../../assets/img/Ellipse.png"
             alt="icon illustrating a debit or credit card with a padlock to represent security"
             class="img-fluid"
             title="safe icon" >
      </div>
      <p class="text-white text-center text-xl">Banking & finance</p>
    </div>
  
    <div class="faded-bg w-full lg:w-3/12 px-2 text-center mx-3 faded_class" style="">
      <div class="inline-flex items-center justify-center vp_top">
        <img loading="lazy" data-src="../../../assets/img/Ellipse 4.png"
             src="../../../assets/img/Ellipse 4.png"
             alt="icon illustrating a debit or credit card with a padlock to represent security"
             class="img-fluid"
             title="safe icon" >
      </div>
      <p class="text-white text-center text-xl">Telecommunications</p>
    </div>


    <div class="faded-bg w-full lg:w-3/12 px-2 text-center  mx-3 faded_class" style="">
      <div class="inline-flex items-center justify-center vp_top">
        <img loading="lazy" data-src="../../../assets/img/Ellipse 5.png"
             src="../../../assets/img/Ellipse 5.png"
             alt="icon illustrating a debit or credit card with a padlock to represent security"
             class="img-fluid"
             title="safe icon" >
      </div>
      <p class="text-white text-center text-xl">Oil & Gas</p>
    </div>
  
    <div class="faded-bg w-full lg:w-3/12 px-2 text-center  mx-3 faded_class" style="">
      <div class="inline-flex items-center justify-center vp_top">
        <img loading="lazy" data-src="../../../assets/img/Ellipse 6.png"
             src="../../../assets/img/Ellipse 6.png"
             alt="icon illustrating a debit or credit card with a padlock to represent security"
             class="img-fluid"
             title="safe icon" >
      </div>
      <p class="text-white text-center text-xl">NGO</p>
    </div>

    
  </div>

      <div class="text-center pt-5">

        <a href="#" class="btn text-center text-white btn-primary ">Read More</a>
          
      </div>

  </section>


<section class=" relative block why-choose .md\:pt-4 pt-16 pb-5 px-4" >
  <h4 class="text-black text-center pt-5">Our Services</h4>
  <p class="text-black text-center">We Offer A variety of services to our clients</p>
 
  <div class="row mt-4 mb-4">

    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <div class="servicecard">
        <img class="card-img-top" src="../../../assets/img/a 1.png" alt="Card image cap">
        <div class="card-body text-center">
          <h3 class="card-title text-center text-black">Cloud Computing</h3>
          <p class="card-text text-center">With managed cloud SQL server, you can quickly
            install,deploy, and scientifically  manage
            your database. </p>
            <div class="dropdown-divider"></div>
          <a href="#" class="btn text-center text-white" style="background-color: #FCB510;">Read More</a>
        </div>
      </div>
    </div>
 
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <div class="servicecard" >
        <img class="card-img-top" src="../../../assets/img/d 1.png" alt="Card image cap">
        <div class="card-body text-center">
          <h3 class="card-title text-center text-black">Network Security</h3>
          <p class="card-text text-center"> We keep your data systems secure from hackers
            and malicious attacks, and ensure that you’re
            compliant with industry laws and regulations. </p>
            <div class="dropdown-divider"></div>
          <a href="#" class="btn text-center text-white" style="background-color: #FCB510;">Read More</a>
        </div>
      </div>
    </div>
 

    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <div class="servicecard">
        <img class="card-img-top" src="../../../assets/img/f 1.png" alt="Card image cap">
        <div class="card-body text-center">
          <h3 class="card-title text-center text-black">IT Consultancy</h3>
          <p class="card-text text-center">We provide consulting services to assist you to
            identify the technology barriers between you and a
            more profitable business. </p>
            <div class="dropdown-divider"></div>
          <a href="#" class="btn text-center text-white" style="background-color: #FCB510;">Read More</a>
        </div>
      </div>
    </div>
 
  </div>


  <div class="row mt-4 mb-4">

    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <div class="servicecard">
        <img class="card-img-top" src="../../../assets/img/d 1.png" alt="Card image cap">
        <div class="card-body text-center">
          <h5 class="card-title text-center text-black">Website Support <br>
            And Maintainance</h5>
          <p class="card-text text-center">With managed cloud SQL server, you can quickly
            install,deploy, and scientifically  manage
            your database. </p>
            <div class="dropdown-divider"></div>
          <a href="#" class="btn text-center text-white" style="background-color: #FCB510;">Read More</a>
        </div>
      </div>
    </div>
 
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <div class="servicecard" >
        <img class="card-img-top" src="../../../assets/img/b 1.png" alt="Card image cap">
        <div class="card-body text-center">
          <h3 class="card-title text-center text-black">Digital Marketing</h3>
          <p class="card-text text-center">We connect people through digital marketing. Our
            team of strategists creates a full suite of
            integrated marketingand communications with a
            well-coordinated approach. </p>
            <div class="dropdown-divider"></div>
          <a href="#" class="btn text-center text-white" style="background-color: #FCB510;">Read More</a>
        </div>
      </div>
    </div>
 

    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <div class="servicecard">
        <img class="card-img-top" src="../../../assets/img/c 1.png" alt="Card image cap">
        <div class="card-body text-center">
          <h3 class="card-title text-center text-black">Web Hosting</h3>
          <p class="card-text text-center">We provide consulting services to assist you to
            identify the technology barriers between you and a
            more profitable business. </p>
            <div class="dropdown-divider"></div>
          <a href="#" class="btn text-center text-white" style="background-color: #FCB510;">Read More</a>
        </div>
      </div>
    </div>
 
  </div>

</section>


<section class="some-facts relative block why-choose .md\:pt-4 pt-16 pb-5" >
  <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20 pt-4">
  </div>

  <div class="" style="font-family: 'Nunito Sans', sans-serif;" >
    <div class="flex flex-wrap text-center justify-center" >
      <div class="w-full lg:w-6/12 px-4">
          <br>
        <h2 class="text-4xl font-semibold text-white">
          Some Fun Facts
        </h2>
        <p class="text-lg leading-relaxed mt-4 mb-4 text-white">
       
          Some stuff are better explained in figures. Our score card

        </p>
      </div>
    </div>
    <div class="flex flex-wrap mt-12  justify-center">
      <div class="w-full lg:w-3/12 px-4 text-center" style="margin-left: 0%;">
        <div class=" inline-flex items-center justify-center">
          <img loading="lazy" data-src="../../../assets/img/Vector (12).png"
               src="../../../assets/img/Vector (12).png" alt="An icon of a clock"
                  class="img-fluid"
               title="clock icon" >
        </div>
        <h1 class="text-xl mt-5 font-semibold" style="color: #FCB510;">
         185+
        </h1>
        <p class="text-sm_03 mt-2 mb-4 text-blueGray-400" style="color: #ffffff;">
          Successful Projects
        </p>
      </div>
      <div class="w-full lg:w-3/12 px-4 text-center" style="margin-left: 5%;">
        <div class="inline-flex items-center justify-center">
          <img loading="lazy" data-src="../../../assets/img/oo2.png"
               src="../../../assets/img/Vector (13).png"
               alt="icon illustrating a debit or credit card with a padlock to represent security"
               class="img-fluid"
               title="safe icon" >
        </div>
        <h1 class="text-xl mt-5 font-semibold" style="color: #FCB510;">
          498+
         </h1>
         <p class="text-sm_03 mt-2 mb-4 text-blueGray-400" style="color: #ffffff;">
          Happy Clients
        </p>
      </div>

      
      <div class="w-full lg:w-3/12 px-4 text-center" style="margin-left: 5%;">
        <div class="inline-flex items-center justify-center">
          <img loading="lazy" data-src="../../../assets/img/oo3.png"
               src="../../../assets/img/Vector (14).png"
               alt="icon illustrating a debit or credit card with a padlock to represent security"
               class="img-fluid"
               title="safe icon" >
        </div>
        <!-- <h5 class="text-xl mt-5 font-semibold text-black">
          Low Transfer Fees
        </h5> -->
        <p class="text-sm_03 mt-2 mb-4 text-white" style="color: #ffffff;">
          We Deal With All Sectors
        </p>
      </div>

   
    </div>
  </div>
  <br>
</section>

<app-trust-pilot></app-trust-pilot>

<app-footer></app-footer>

  </div>