<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light py-2">
    <div class="container">
    <a class="navbar-brand mr-lg-5" href="../index.html">
    <img src="../../../assets/img/samsaky_white.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global">
    <div class="navbar-collapse-header">
    <div class="row">
    <div class="col-6 collapse-brand">
    <a href="../../../index.html">
    <img src="../../../assets/img/logo_blue.png">
    </a>
    </div>
    <div class="col-6 collapse-close">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
    <span></span>
    <span></span>
    </button>
    </div>
    </div>
    </div>
    

    <ul class="navbar-nav navbar-nav-hover navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a [routerLink]="['/']"  class="nav-link" href="">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Home</span>
          </a>
        
        </li>
        <li class="nav-item dropdown">
          <a [routerLink]="['/how-it-works']" class="nav-link" data-toggle="dropdown" href="#" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">How It Works</span>
          </a>
        
        </li>

        <li class="nav-item dropdown">
          <a [routerLink]="['/contact-us']" class="nav-link" data-toggle="dropdown" href="#" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">Contact Us</span>
          </a>
        </li>

        <li class="nav-item dropdown">
          <a [routerLink]="['/about-us']" class="nav-link" data-toggle="dropdown" href="#" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">About Us</span>
          </a>
        </li>

        <li class="nav-item dropdown">
          <a [routerLink]="['/login']" class="nav-link" data-toggle="dropdown" href="#" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">Login</span>
          </a>
        </li>

        <li class="nav-item dropdown">
            <button type="button" class="btn btn-primary">Register</button>
        </li>
      </ul>


    </div>
    </div>
    </nav>