<app-navbar></app-navbar>
  <!-- End Navbar -->
  <div class="wrapper">
    
    <section
  class="about-section-header  relative pt-16 items-center h-screen max-h-860-px w-full h-full bg-top bg-cover">
  <div class="container mx-auto items-center flex ">
    <div class="w-full  px-4">
      <div class="pt-32 ">
    
    


      </div>
    </div>
  </div>

 
</section>

<section class=" relative block why-choose .md\:pt-4" >
    <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20 pt-4">
    </div>
  
    <div class="" style="background-color: #ffffff;">
      <div class="flex  text-center justify-center" style="background-color: #ffffff;">
        <div class="w-full lg:w-6/12 px-4">
            <br>
          <h2 class="text-xl text-black font-bold" style="color: #0195FF;">
            Company Overview
          </h2>
        </div>
      </div>
      <div class="flex mt-2 justify-center">
        <div class="w-full  px-4 text-center">
          <p class="text-blueGray-400 " style="color: rgba(8, 8, 8, 0.7);">
            Samsky Pay LTD A Non- Bank Financial Institution Authorised And Regulated By The Financial Conduct Authority (FCA) Registration No. (928035) Under 
            The Payment Services Regulations 2017. Samsky Pay Enables People Send Money To Their Friends And Families Abroad Using A Computer, 
            Smartphone, Or A Tablet At A Click Of A Button. Our Technology Is Built In A Way That Is User Friendly, Fast, And Secure Way To Transfer Money To 
            Your Loved Ones And A Better Alternative To Conventional Banks.
            
            Recipients Can Receive Money As Bank Deposits, Cash Pickups And Mobile Wallets. When You Choose Us, You Choose A Money Transfer Service That Is 
            Convenient, Affordable, Accessible, And Secure.
          </p>
        </div>

      </div>
    </div>
    <br>

    <div class="" style="background-color: #ffffff;">
      <div class="flex  text-center justify-center" style="background-color: #ffffff;">
        <div class="w-full lg:w-6/12 px-4">
            <br>
          <h2 class="text-xl text-black font-bold" style="color: #0195FF;">
            Vision & Mission
          </h2>
        </div>
      </div>
      <div class="flex mt-2 justify-center">
        <div class="w-full  px-4 text-start">
          <p class="text-xl" style="color: #FCB510;font-weight: bold;">
           Vision
          </p>
          <p class="text-blueGray-400 " style="color: rgba(8, 8, 8, 0.7);">
            To become the choice provider of Technology solutions that help organizations and businesses, manage, and improve their productivity.
        </div>
      </div>

      <div class="flex mt-2 justify-center">
        <div class="w-full  px-4 text-start">
          <p class="text-xl" style="color: #FCB510;font-weight: bold;">
           Mission
          </p>
          <p class="text-blueGray-400 " style="color: rgba(8, 8, 8, 0.7);">
            Our mission is to stay commited to our customer and help them discover excellency
          </div>
      </div>

    </div>
  </section>

  <section class="small_device_mg relative block why-choose .md\:pt-4 pt-16 pb-5 partner_margin"  style="background-color: #D9D9D9;">
    <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20 pt-4">
    </div>
  
    <div class="">
      <div class="flex flex-wrap text-center justify-center">
        <div class="w-full lg:w-6/12 px-4">
            <br>
          <p class="text-sm font-semibold text-black">
            Partners
          </p>
          <p class="text-lg leading-relaxed mt-4 mb-4 text-blueGray-400"> 
            We form alliances with strong partners to deliver the best IT solutions for you
          </p>
        </div>
      </div>
      <div class="flex flex-wrap mt-12  justify-center">

          <div class="row ">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 ml-5 small_device_mg">
              <div class=" inline-flex items-center justify-center">
                <img loading="lazy" data-src="../../../assets/img/TRUST_Payments_Black 1.png"
                     src="../../../assets/img/TRUST_Payments_Black 1.png" alt="An icon of a clock"
                        class="img-fluid"
                        style="min-height: 100px;max-height: 200px;max-width:150px;min-width:200px"
                        title="clock icon" >
              </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 ml-4 small_device_mg">
              <div class=" inline-flex items-center justify-center">
                <img loading="lazy" data-src="../../../assets/img/oo1.png"
                     src="../../../assets/img/pci.png" alt="An icon of a clock"
                        class="img-fluid"
                        style="min-height: 100px;max-height: 200px;max-width:150px;min-width:200px"
                     title="clock icon" >
              </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 ml-4 small_device_mg">
              <div class=" inline-flex items-center justify-center">
                <img loading="lazy" data-src="../../../assets/img/oo1.png"
                     src="../../../assets/img/Rectangle 124.png" alt="An icon of a clock"
                        class="img-fluid"
                        style="min-height: 100px;max-height: 200px;max-width:150px;min-width:200px"
                     title="clock icon" >
              </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 ml-4 small_device_mg">
              <div class=" inline-flex items-center justify-center">
                <img loading="lazy" data-src="../../../assets/img/oo1.png"
                     src="../../../assets/img/Rectangle 125.png" alt="An icon of a clock"
                        class="img-fluid"
                        style="min-height: 100px;max-height: 200px;max-width:150px;min-width:200px"
                     title="clock icon" >
              </div>
            </div>   <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 ml-4 small_device_mg">
              <div class=" inline-flex items-center justify-center">
                <img loading="lazy" data-src="../../../assets/img/oo1.png"
                     src="../../../assets/img/RemitONE_Monochrome-Blue 1.png" alt="An icon of a clock"
                        class="img-fluid"
                        style="min-height: 100px;max-height: 200px;max-width:150px;min-width:200px"
                     title="clock icon" >
              </div>
            </div>

          

          </div>

        <!-- <div class="w-full lg:w-3/12 px-4 text-center" style="margin-left: 0%;">
          <div class=" inline-flex items-center justify-center">
            <img loading="lazy" data-src="../../../assets/img/oo1.png"
                 src="../../../assets/img/oo1.png" alt="An icon of a clock"
                    class="img-fluid"
                    style="min-height: 100px;max-height: 200px;max-width:100px;min-width:200px"
                 title="clock icon" >
          </div>
          <h6 class="text-xl mt-5 font-semibold text-black">
            Great Exchange Rates
          </h6>
          <p class="text-sm_03 mt-2 mb-4 text-blueGray-400" style="color: rgba(8, 8, 8, 0.7);">
            Get More For Your Money With Our Excellent Rates.
          </p>
        </div> -->

      </div>
    </div>
    <br>
  </section>


<app-footer></app-footer>
  </div>