<app-navbar></app-navbar>
  <!-- End Navbar -->
  <div class="wrapper">
    
    <section
  class="digital-marketing-section-header relative pt-16 items-center h-screen max-h-650-px w-full h-full bg-top bg-cover">
  <div class="container mx-auto items-center flex ">
    <div class="w-full  px-4">
      <div class="pt-32 ">
    
    


      </div>
    </div>
  </div>

 
</section>

<section class=" relative block mt-4 mb-4 px-5" >
    <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20 pt-4">
    </div>
  
    <div class="" style="background-color: #ffffff;">
      <div class="flex  text-center justify-center" style="background-color: #ffffff;">
        <div class="w-full lg:w-6/12">
            <br>
          <h2 class="text-2xl text-black font-bold">
            Digital Marketing
          </h2>
        </div>
      </div>
      <div class="flex mt-2 justify-center">
        <div class="w-full text-left">
          <p class="text-blueGray-400 text-sm_03" style="color: #000000">
            The execution of digital strategies is at our core, as we design campaigns for growing businesses to create meaningful connections, define key
            performance indicators, and continuously test, measure and optimize for improved results. Our compelling innovative concepts backed by market
            research allow us to achieve the business objectives of our customers and even identify new opportunities.  The internet offers the most dynamic
            media for advertising in terms of opportunities and audience. We work with brands, celebrities and even full business entities in using the digital media
            for pushing their marketing message to the world. 
         </p>
    
        </div>

      </div>
    </div>
    <br>

    <div class="text-center pt-5">

        <a href="#" class="btn text-center text-white btn-primary ">Contact Us</a>
          
      </div>


  </section>


<app-footer></app-footer>
  </div>