<section class=" relative block why-choose " style="background-color:white;padding: 0px;">
    <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20 pt-4"
        >
   
    </div>
  
    <div class="">
      <div class="flex flex-wrap text-center justify-center">
        <div class="w-full lg:w-6/12 px-4">
            <br>
          <h3 class="text-3xl font-semibold text-black">
           3 Easy Ways To Send Money
          </h3>
          <p>Samsky Pay Ways to Move Funds</p>
          <!--<p class="text-lg leading-relaxed mt-4 mb-4 text-blueGray-400">-->
          <!--Put the potentially record low maximum sea ice extent tihs year down to low ice. According to the National Oceanic and Atmospheric Administration, Ted, Scambos.-->
          <!--</p>-->
        </div>
      </div>
      <div class="flex flex-wrap mt-12 justify-center">

        <div class="px-lg-5">

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../../assets/img/customer 1.png" alt="Card image cap" style="max-width: 246px; max-height:152px">
            <div class="card-body">
              <div class="card-head">
               <h3>Bank Deposit</h3> 
              </div>
              
              <p class="card-text">Get money paid into your <br> account within minutes</p>
            </div>
          </div>
        </div>

<div class="px-lg-5 ml_19">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../../assets/img/Wallet 1.png" alt="Card image cap" style="max-width: 246px; max-height:152px">
    <div class="card-body">
      <div class="card-head">
       <h3>Mobile Wallet</h3> 
      </div>
      
      <p class="card-text">Transfer money instantly <br> into mobile wallet</p>
    </div>
  </div>
</div>

<div class="px-lg-5 ml_19">

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../../assets/img/cash 1.png" alt="Card image cap" style="max-width: 246px; max-height:152px">
    <div class="card-body">
      <div class="card-head">
       <h3>Cash Pickup</h3> 
      </div>
      
      <p class="card-text">Pickup cash from collection <br> point in minutes</p>
    </div>
  </div>

</div>
        

        <!-- <div class="lg:w-3/12 px-4 text-center" style="margin-left:0%;padding-bottom: 3%">
          <div class="shadow-lg inline-flex items-center justify-center">
            <img loading="lazy" data-src="../../../assets/img/customer 1.png"
                 src="../../../assets/img/customer 1.png" alt="An icon of a clock"
                class="img-responsive imgSetup"
                 title="clock icon" style="width: 100%;" >
          </div>
          <div class="bottomRound">
            <p class="text-lg font-semibold">Bank Deposit</p>
            <p class="text-sm">Get money paid into your <br> account within minutes</p>
          </div>
        </div> -->
        
        <!-- <div class="w-full lg:w-3/12 px-4 text-center" style="margin-left:0%;padding-bottom: 3%;">
            <div class="shadow-lg inline-flex items-center justify-center">
              <img loading="lazy" data-src="../../../assets/img/Wallet 1.png"
                   src="../../../assets/img/Wallet 1.png" alt="An icon of a clock"
                   class="img-responsive imgSetup"
                   title="clock icon" >
            </div>
            <div class="bottomRound">
              <p class="text-lg font-semibold">Mobile Wallet</p>
              <p class="text-sm">Transfer money instantly <br> into mobile wallet</p>
            </div>
          </div>

          <div class="w-full lg:w-3/12 px-4 text-center" style="margin-left: 0%;padding-bottom: 3%;">
            <div class="shadow-lg inline-flex items-center justify-center">
              <img loading="lazy" data-src="../../../assets/img/cash 1.png"
                   src="../../../assets/img/cash 1.png" alt="An icon of a clock"
                   class="img-responsive imgSetup"
                   title="clock icon">
            </div>
            <div class="bottomRound">
              <p class="text-lg font-semibold">Cash Pickup</p>
              <p class="text-sm">Pickup cash from collection <br> point in minutes</p>
            </div>
          </div> -->

      </div>
      

    </div>
    <br>
  </section>
 