
<app-navbar></app-navbar>
  <!-- End Navbar -->
  <div class="wrapper">
    
    <section
  class="it-consultancy-section-header relative pt-16 items-center h-screen max-h-650-px w-full h-full bg-top bg-cover">
  <div class="container mx-auto items-center flex ">
    <div class="w-full  px-4">
      <div class="pt-32 ">
    
    


      </div>
    </div>
  </div>

 
</section>

<section class=" relative block mt-4 mb-4 px-5" >
    <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20 pt-4">
    </div>
  
    <div class="" style="background-color: #ffffff;">
      <div class="flex  text-center justify-center" style="background-color: #ffffff;">
        <div class="w-full lg:w-6/12">
            <br>
          <h2 class="text-2xl text-black font-bold">
            Hosting Domain
          </h2>
        </div>
      </div>
      <div class="flex mt-2 justify-center">
        <div class="w-full text-left">
            <p class="text-blueGray-400 text-lg" style="color: #000000">
                We can assist you to protect your investment with ongoing wDo you want to make your idea go online? No one can see your website if it is still on your
                local system. You need to get a domain that will be easily accessible by all to see, but that's not all, you need a place to host your domain. What are
                you waiting for, let's help you worry about that, contact us for your domain and hosting registration website support and maintenance. For a website
                to be effective, it requires continual care to keep it functioning as intended. This would include regular security updates, implementation of upgrades
                provided by your chosen content management system, and fixes to unforeseen issues. You may also want to grow your website by adding new
                sections or tools.
        </p>
        </div>

      </div>
    </div>
    <br>
    <div class="container">

        
    </div>


    <div class="container">

        <h2 class="text-2xl text-black font-bold text-center">
            All-In-One Website Solution
          </h2>
    
            <ul>
                <li class="pb-3">      
                        <i class=" fa-solid fa-circle-check" ></i> Manage up to 100 websites.
                </li>

                <li class="pb-3">      
                    <i class=" fa-solid fa-circle-check" ></i> Register a personal domain name
            </li>

            <li class="pb-3">      
                <i class=" fa-solid fa-circle-check" ></i> Set up a professional business email addres.
        </li>
        <li class="pb-3">      
            <i class=" fa-solid fa-circle-check" ></i> Launch websites quickly with our Website Builder.
    </li>


            </ul>

    </div>



  </section>

  <section class=" relative block why-choose .md\:pt-4 pt-16 pb-5" >
    <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20 pt-4">
    </div>

    <h2 class="text-2xl text-black font-bold text-center pb-3">
        SQL Database Hosting Plans
      </h2>


    <div class="row mx-3 px-lg-5">
        <div class="col-sm-12 col-xs-12 col-lg-3 col-xl-3 col-md-3">
            <div class="card_service_one" style="width: 21rem;">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
               <div class="headcard">
                    <p class="text-center pt-2"> Single Web <br> Hosting
                        Server</p>
                        <br>
                        <p class="text-center">Ideal solution for beginners</p>
                        <h5 class="text-white text-center text-2xl">$1.75/Month</h5>
                        <!-- <h5 class="text-white text-center text-2xl"> $10.5/Month</h5> -->

 
               </div>
                <div class="card-bod text-center">
                    <p class="text-center text-black text-sm_03" style="font-weight: bold;">Top feature 
                      comparison</p>
                    <ul class="text-center">
                        <li>• Website
                           </li>

                           <li>
                            • 50 GB SSD Storage
                           </li>

                           <li>
                            •  1 Email Account
                           </li>

                           <li>
                            • 100 GB Brandwidth
                           </li>

                           <li>
                            •  2 Databases
                           </li>

                    </ul>

                    <div class="text-center pt-5">

                        <a href="#" class="btn text-center text-white btn-primary " style="background-color: #FCB510;">Get Started</a>
                          
                      </div>

                </div>
              </div>
        </div>


        <div class="col-sm-12 col-xs-12 col-lg-3 col-xl-3 col-md-3">
            <div class="card_service_one" style="width: 21rem;">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
               <div class="headcard">
                    <p class="text-center pt-2">Basic Plan for SQL
                        Server</p>
                        <br>
                        <p class="text-center">Start at</p>
                        <h5 class="text-white text-center text-2xl">$1.5</h5>
                        <h5 class="text-white text-center text-2xl"> $10.5/Month</h5>

                       

               </div>
                <div class="card-body">
                    <ul>
                        <li>• Single Node
                           </li>
                           <li>
                            • 2 CPU Cores
                  
                           </li>
                           <li>
                            •  2GB Memory
                           </li>
                           <li>
                            • 60GB SSD Disk
                           </li>
                           <li>
                            •  60GB SATA Backup Storage
                           </li>

                    </ul>

                    <div class="text-center pt-5">

                        <a href="#" class="btn text-center text-white btn-primary " style="background-color: #FCB510;">get Started</a>
                          
                      </div>
                      
                </div>
              </div>
        </div>

        <div class="col-sm-12 col-xs-12 col-lg-3 col-xl-3 col-md-3">
            <div class="card_service_one" style="width: 21rem;">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
               <div class="headcard">
                    <p class="text-center pt-2">Basic Plan for SQL
                        Server</p>
                        <br>
                        <p class="text-center">Start at</p>
                        <h5 class="text-white text-center text-2xl">$1.5</h5>
                        <h5 class="text-white text-center text-2xl"> $10.5/Month</h5>

                       

               </div>
                <div class="card-body">
                    <ul>
                        <li>• Single Node
                           </li>
                           <li>
                            • 2 CPU Cores
                  
                           </li>
                           <li>
                            •  2GB Memory
                           </li>
                           <li>
                            • 60GB SSD Disk
                           </li>
                           <li>
                            •  60GB SATA Backup Storage
                           </li>

                    </ul>

                    <div class="text-center pt-5">

                        <a href="#" class="btn text-center text-white btn-warning " style="background-color: #FCB510;">Get Started</a>
                          
                      </div>
                      
                </div>
              </div>
        </div>


        <div class="col-sm-12 col-xs-12 col-lg-3 col-xl-3 col-md-3">
            <div class="card_service_one" style="width: 21rem;">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
               <div class="headcard">
                    <p class="text-center pt-2">Basic Plan for SQL
                        Server</p>
                        <br>
                        <p class="text-center">Start at</p>
                        <h5 class="text-white text-center text-2xl">$1.5</h5>
                        <h5 class="text-white text-center text-2xl"> $10.5/Month</h5>

               </div>


                <div class="card-body">
                    <ul>
                        <li>• Single Node
                           </li>
                           <li>
                            • 2 CPU Cores
                  
                           </li>
                           <li>
                            •  2GB Memory
                           </li>
                           <li>
                            • 60GB SSD Disk
                           </li>
                           <li>
                            •  60GB SATA Backup Storage
                           </li>

                    </ul>

                    <div class="text-center pt-5">

                        <a href="#" class="btn text-center text-white btn-primary " style="background-color: #FCB510;">Get Started</a>
                          
                      </div>
                      
                </div>
             
            
            </div>
        </div>


    </div>

  </section>


<app-footer></app-footer>
  </div>