<app-navbar></app-navbar>
  <!-- End Navbar -->
  <div class="wrapper">
    
    <section
  class="how-it-works-section-header relative pt-16 items-center h-screen max-h-850-px w-full h-full bg-top bg-cover">
  <div class="container mx-auto items-center flex ">
    <div class="w-full">
      <div class="pt-32 ">
    
    
        <h2 class="font-semibold text-4xl text-white justify-content-center" >
            HOW TO <br>
            TRANSFER MONEY <br>
            WITH SAMSKY PAY <br>
        </h2>




      </div>
    </div>
  </div>

 
</section>

<section class="relative block" >
    <div class="bottom-auto mb-5 pb-5 top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20 pt-4">
    </div>
  
    <div class="show_hover_container container mt-12" style="background-color: #ffffff;" >
      <div class="flex  text-center justify-center" style="background-color: #ffffff;">
        <img loading="lazy" data-src="../../../assets/img/unsplash_-Xv7k95vOFA.png"
        src="../../../assets/img/unsplash_-Xv7k95vOFA.png" alt="An icon of a clock"
        class="img-fluid"
        title="clock icon" >

      </div>
  
      <span class="hover_btn"><img src="../../../assets/img/Vector (3).png" /></span>
      
    </div>

    <br>
  </section>


  <section class="relative block"  >
 
    <div class="ml_19" style="background-color: #ffffff;" >
    
        <div class="row" >

            <div class="accountStep" align="center">
                    <img src="../../../assets/img/Vector (4).png" alt="" class="img-responsive" >
                    <br>   
                    <p class="createAccount font-semibold text-xl">1.Create an account</p>
                      
                        <p>Sign up with your email address , date <br>
                            of birth and a password.You can use  <br>
                            the app or the website to register.</p>
            </div>

            <div class="accountStep2" align="center">
                <img src="../../../assets/img/Vector (5).png" alt="" class="img-responsive" >
                <br>   
                <p class="createAccount font-semibold text-xl">2. Upload a ID</p>
                  
                    <p>Upload a valid means of identification to <br>
                        after which your account will beactivated. <br>
                        </p>
        </div>

        <div class="accountStep3" align="center">
            <img src="../../../assets/img/Vector (6).png" alt="" class="img-responsive" >
            <br>   
            <p class="createAccount font-semibold text-xl">3.Start a transfer
            </p>
              
                <p>Enter your beneficiaries details, select <br>
                    the country.</p>
    </div>

        </div>

        <!-- <div class="text-center starter" >
            <button align="center" type="button" class="btn btn-primary my-4" style="padding: 2% 5% 2% 5%;">Get Started</button>
          </div> -->
   
        
    </div>

    <br>
  </section>


  <section class="w-full relative block pt-4 " style="background-color: #E5F7FF;">
  
    <div class="mt-12" >
       <div class="">
        <div class="w-full ">

            <div class="">

                <h2 class="text-3xl text-black font-semibold "  align="center">
                    Global Money Transfers Made Easy
                </h2>

                <p class="text-sm_03 text-black font-weight-light " style="width: 100%;" align="center">
                    Every day, thousand of people  rely on Samsky Pay for ease of access to the very best international money transfer deals online. We make <br>
                    international money transfers easy and transparent. To enjoy a stress-free experience, Samsky Pay is the right app for you. The app is well <br>
                    designed and most importantly, easy to navigate.
                </p>

                <div class="row pt-5">
                    <div class="stepper1">
                        <p class="font-semibold pl-3">Monitor All Your Transactions</p>
                        
                        <img src="../../../assets/img/iPhone 13 Mockup 1.png" class="img-fluid fileSize" alt="">

                    </div>

                    <div class="stepper2 ">
                        <p class="font-semibold pl-3">Add Fund To Wallet</p>
                        
                        <img src="../../../assets/img/iPhone 13 Mockup (2) 1.png" class="img-fluid fileSize" alt="">

                    </div>

                    <div class=" stepper3 ">
                        <p class="font-semibold pl-3">Send Money Seemlessly</p>
                        
                        <img src="../../../assets/img/iPhone 13 Mockup (1) 1.png" class="img-fluid fileSize" alt="">

                    </div>

                </div>



              </div>
          
        </div>
     
       </div>
    </div>
    <br>
  </section>

  <section class="w-full relative block " style="background-color: #ffffff;" align="center">
  
    <div class="" >
       <div class="">
        <div class="w-full" align="center">
            
            <img src="../../../assets/img/art-web-support 1 (1).png" alt="" class="img-fluid tileQ" >
          
        </div>
     
       </div>
    </div>
    <br>
  </section>


  <section class="w-full relative block pt-4 " style="background-color: #0195FF;" align="center">
  
    <div class="container mt-12" >
       <div class="container">
        <div class="w-full row">

            <div class="col-sm-121 text-center1">

                <h2 class="text-3xl text-white font-semibold "  >
                    Award-Winning Service
                </h2>

                <p class="text-sm_02 text-white font-weight-light p-margin ">
                    For Us Here At Samsky Pay, Customer Service Isn’t An Addition To Our Overall Service We Provide To Our Customers. Offering Help From A Real Via 
                    Chat, Email, And Phone Has Been A Mission Of Ours Since Our Inception. That’s Why We’re Thrilled To Announce That We Recently Won A 
                    Couple Of Awards For Outstanding Customer Service.
                    
                    In This Article, We’d Like To Talk About Our Approach To Service, And How It Helped Us Win These Magnificent Awards. We Have A Well Established 
                    And Well Decorated Customer Service Team. You Can Talk To A Member Of Our Customer Service Team If You Need A Quick Response.
                </p>

         



              </div>
          
        </div>
     
       </div>
    </div>
    <br>
  </section>







<app-footer></app-footer>
  </div>